<div *ngIf="isOpen" id="loginModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="onClose()">&times;</span>
    <h2>Forgot Password</h2>

    <form #forgotpassword="ngForm" novalidate>
      <!-- Email Input -->
      <div class="form-group">
        <label for="loginEmail">Email</label>
        <input
          type="email"
          id="loginEmail"
          name="email"
          [(ngModel)]="email"
          #emailCtrl="ngModel"
          placeholder="Enter your email"
          required
          email
        />
        <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="error-message">
          <div *ngIf="emailCtrl.errors?.['required']">Email is required.</div>
          <div *ngIf="emailCtrl.errors?.['email']">Enter a valid email address.</div>
        </div>
      </div>

      <!-- Send OTP Button -->
      <button
        type="button"
        class="btn btn-primary"
        (click)="sendOtp()"
        style="width: 100%"
        [disabled]="emailCtrl.invalid"
      >
        Send OTP
      </button>

      <!-- OTP Input -->
      <div class="form-group">
        <label for="otpInput" style="padding-top: 10px">Enter OTP</label>
        <input
          type="text"
          id="otpInput"
          name="otp"
          [(ngModel)]="otp"
          #otpCtrl="ngModel"
          placeholder="Enter your otp"
          required
        />
        <div *ngIf="otpCtrl.invalid && otpCtrl.touched" class="error-message">
          <div *ngIf="otpCtrl.errors?.['required']">OTP is required.</div>
        </div>
      </div>

      <!-- New Password Input -->
      <div class="form-group">
        <label for="new-password">Enter New Password</label>
        <input
          type="password"
          id="new-password"
          name="newPassword"
          [(ngModel)]="newPassword"
          #passwordCtrl="ngModel"
          placeholder="Enter your password"
          required
          minlength="6"
        />
        <div *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="error-message">
          <div *ngIf="passwordCtrl.errors?.['required']">Password is required.</div>
          <div *ngIf="passwordCtrl.errors?.['minlength']">
            Password must be at least 6 characters.
          </div>
        </div>
      </div>

      <!-- Server Error Message -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <!-- Change Password Button -->
      <button
        type="button"
        class="btn btn-primary"
        style="width: 100%"
        (click)="onChangePassword()"
        [disabled]="forgotpassword.invalid"
      >
        Verify OTP and Change Password
      </button>
    </form>
  </div>
</div>
